body{
    background-color: azure;
}

h1{
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#demo
 {
  background-color: azure; 
  border: none;
  color: black;
  padding: 10px 27px;
  
  text-decoration: none;
  display:inline-flex;
  font-size: 12px;
}

.flip-card {
    background-color: azure;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(188, 210, 233);
    color: rgb(0, 0, 0);
    transform: rotateX(180deg);
  }